* {
	/*所有块级元素的width、height均继承自html*/
	width: 100%;
	height: 100%;

	padding: 0px;
	margin: 0px;
}

html, body {
	font-family: serif;
	color: #000;
}

button,
input,
select,
textarea {
	width: initial;
	height: initial;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 100%;
}

.ui-paint-layout {
	position: relative;
}

.ui-paint-layout img {
	display: block;
}

.ui-paint-area > canvas {
	display: block;

	/*通过css设置的width和height得和canvas的属性width、height保持一致，
	否则绘制的图形会变形*/
	width: 98%;
	height: 98%;
	margin: 0 auto;
	border:1px solid #000;
	border-radius: 2px;
}

.ui-paint-setting {
	position: absolute;
	top: 0;
	left: 0;

	width: 28px;
	height: 28px;
	font-size: 1em;
}

.ui-setting-area {
	position: absolute;
	top: 0;
	left: calc(100% + 2px);
	width: calc(600%);
	height: max-content;
	/*overflow-y: scroll;*/

	border: 1px solid #000;
	border-radius: 2px;
}

.ui-setting-area.hidden {
	display: none;
}

.ui-setting-options {
	list-style: none;

	display: flex;

	padding-bottom: 4px;
	border-bottom: 1px solid #000;
}

.ui-setting-option {
	display: inline-block;
	margin-right: 2px;
}

.ui-setting-option:last-child {
	margin-right: 0px;
}

/**/
.ui-setting-function {
	width: initial;
	overflow-x: scroll;
	padding: 2px 3px;
	border-bottom: 1px solid #000;
}

.ui-setting-function.hidden {
	display: none;
}

.ui-setting-function:last-child {
	border-bottom-width: 0px;
}

/**/
.popup {
	width: max-content;
}

/**/
.warning {
	display: none;
}

.ui-setting-function span[data-color] {
	display: inline-block;
	width: 16%;
	height: 7px;
}

.ui-setting-function input[type='color'] {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}