html, body {
	margin: 0;
}

html {
	font-family: sans-serif;
	height: 100%
}

body {
	height: inherit;
}

div {
	margin: 0 auto;
	margin-top: 20px;
	width: 350px;
	border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
}

div#editDiv {
	position: absolute;
	top: 0px;
	right: 20px;
	width: 250px;
}

textarea, button {
	margin-top: 5px;
	margin-bottom: 5px;
}